
#lezioni img {
  /* per centrare orizzontalmente */
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#lezioni {
  text-align: center;
}

#lezioni img.pcimg{
  margin-top: 14%;
}

/* BLOCCO STEPS */

#steps{
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}


#why img {
  background-color:#428bca;
  border-radius:50%;
  padding:30px
}

/* COMMON */
[background="grey"]{
  background-color: #f9f9f9;
}

img{
  width: 200px;
  height: auto;
}

@media screen and (min-width: 768px) and (max-width: 991px){

#lezioni{
  background: lightgreen;
  color: red;
}

#lezioni img.pcimg{
  margin-top: 5%;
}

#steps{
  background: pink;
}

#why {
  background: rgb(63, 159, 200);
}



}
